/* gofish! H&D 2016, styles */

*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

/* Basic */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
	background-image: linear-gradient(-180deg, #A899FF 0%, #0F13B5 100%);
  background-color: #4E36DD;
	height: 100%;
	max-width: 39rem;
  margin: 0 auto;
  padding: 0.9rem;
  font-size: 18.5px;
  line-height: 1.2; 
  font-family: serif;
  color: #222;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, p {
  margin: 0;
  padding: 0;
}

main, audio, button {
  display: block;
}

h1 {
  font-size: 2.1rem;
  color: #ffffff;
}

strong {
  font-weight: bold;
}

a, button {
  color: inherit;
}

a {
	color: #ffffff;
}

button {
  overflow: visible;
  padding: 0;
  border: 0.15rem solid #ffffff;
  color: #ffffff;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

/* Layout */

.wrapper {
  min-height: 100%;
	margin-bottom: -3rem;
}

.wrapper:after {
  content: "";
  display: block;
}

.footer, .wrapper:after {
	height: 3rem; 
}

.description {
	margin: 1.5rem auto;
	padding: 0 0 0 1.5rem;
}

@-webkit-keyframes pulse_bg {
  0% {opacity: 0.45;}
  100% {opacity: 1;}
}

@-moz-keyframes pulse_bg {
  0% {opacity: 0.45;}
  100% {opacity: 1;}
}

@-o-keyframes pulse_bg {
  0% {opacity: 0.45;}
  100% {opacity: 1;}
}

@keyframes pulse_bg {
  0% {opacity: 0.45;}
  100% {opacity: 1;}
}

.button--fish {
	margin: 0;
	padding: 3rem;
	width: 100%;
	height: 50%;
	border-radius: 50%;
	font-size: 3rem;
	-webkit-animation: pulse_bg 1.45s infinite alternate;
  -moz-animation: pulse_bg 1.45s infinite alternate;
  -o-transition: pulse_bg 1.45s infinite alternate;
  transition: pulse_bg 1.45s infinite alternate;
	transition: background-color 0.25s ease;
}

.button--fish:hover {
  background-color: #0F13B5;
}

footer {
	height: 3rem;
}